<% provide(:page_title, @post.title) %>

<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
    <h1><%= @post.title %></h1>
    <h6><%= @post.display_day_published %></h6>
    <%= @post.body.html_safe %>
     <br/>
      <br/>

    <%= link_to "Edit this post", edit_post_path(@post), class: 'btn btn-secondary' %> 
  <%= link_to "Back to posts", posts_path, class: 'btn btn-dark' %>
  <br/>

  <%= button_to "Destroy this post", @post, method: :delete, class: 'btn btn-danger' %>
</div>
</div>
